@use "./theme" as *;
@forward "./theme";
@forward "./mixins";

// * {
//   padding: 0;
//   margin: 0;
//   font-size: $main-font-size;
//   font-family: $main-font-family;
// }

$l-pink: #ffe3e2;
$pink: #ffd7d5;
$d-pink: #ffdad8;

//buttons
$red: #fd4646;
$red-border: #ed3e3d;
$red-dark: rgb(100, 0, 5);

$yellow: #feb024;
$yellow-border: rgb(237, 162, 36);
$yellow-dark: rgb(162, 92, 12);

$green: #2ac533;
// $green-border: ;

$grey-light: #fdfafa;
* {
  padding: 0;
  margin: 0;
  font-size: $main-font-size;
  font-family: $font;
}

body {
  background-color: $pink;
}
