@use "./theme" as *;
@forward "./theme";
@forward "./mixins";

// * {
//   padding: 0;
//   margin: 0;
//   font-size: $main-font-size;
//   font-family: $main-font-family;
// }

* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
