@use "./base" as *;

// desktop

#desktop {
  color: $white;
}
.wallpaper {
  background-color: $blue;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  &--left {
    margin-left: 5px;
  }

  &--right {
  }
}

.shortcuts {
  display: flex;
  flex-direction: column;

  &__item {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    > h2 {
      padding-top: 7px;
    }
  }
}

.taskbar {
  background-color: $grey;
  display: flex;
  justify-content: space-between;
  color: $black;
  height: 25px;

  &--left {
    > .start {
      > img {
        height: 25px;
      }
    }
  }

  &--right {
    background-color: #d3d0c8;
    margin: 2px;
    text-align: center;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    @include recess-border;
  }
}
