@use "./base" as *;

.window {
  @include border;
  width: 800px;
  height: 276px;
  background-color: $grey;
  padding: 2px;
  &__name {
    @include blue-gradient;
    color: $white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    height: 20px;
    &--info {
      display: flex;
      align-items: center;
    }
  }

  &__menu {
    @include grey-flat-border;
    margin-bottom: 3px;
    &--one {
      display: flex;
      align-items: center;
      @include border;
      height: 20px;
      > p {
        padding: 0px 7px;
        &:hover {
        }
      }
    }

    &--three {
      display: flex;
      align-items: center;
      @include border;

      .addbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 670px;
        background-color: $white;
        @include recess-border;
        &__l {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &__main {
    // padding: 0px 0px 0px 1px;
    @include recess-border;
  }
}
