@use "./base" as *;
#text-area {
}

.window {
  min-width: 500px;
  min-height: 352px;
  max-height: 100%;
  max-width: 100%;
  border: 1px solid;
  position: fixed;
  top: 40%;
  left: 50%;

  &__menu {
    background-color: $grey-light;
    &__one {
      display: flex;
      justify-content: space-between;

      &--title {
        display: flex;

        > img {
          width: 20px;
        }
      }

      &--buttons {
        display: flex;

        > p {
          padding: 2px 20px;
          text-align: center;

          &:hover {
            background-color: #00000027;
          }
        }

        > #close:hover {
          background-color: red;
          color: #fff;
        }
      }
    }

    &__two {
      display: flex;
      border-bottom: 1px solid #00000027;
      > p {
        padding: 4px;

        &:hover {
          background-color: #00000027;
        }
      }
    }
  }

  &__main {
    background-color: #fff;
    box-sizing: border-box;
    min-width: 500px;
    min-height: 300px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    resize: both;

    > #text-area {
      border: none;
      font-family: consolas, "Courier New", monospace;
      max-width: 100%;
      max-height: 100%;
      resize: none;
      box-sizing: border-box;

      &:focus {
        outline: none;
      }
    }
  }
}
