// $main-font-size: 9pt;
// $main-font-family: "Microsoft Sans Serif", sans-serif;

// $blue: #3b6da6;
// $dark-blue: #000080;
// $white: #fff;
// $grey: #d3d0c8;
// $mid-grey: #9d9c9a;
// $black: #000;

$font: -apple-system, BlinkMacSystemFont, sans-serif;
$main-font-size: 16px;

$l-pink: #ffe3e2;
$pink: #ffd7d5;
$d-pink: #ffdad8;

//buttons
$red: #fd4646;
$red-border: #ed3e3d;
$red-dark: rgb(100, 0, 5);

$yellow: #feb024;
$yellow-border: rgb(237, 162, 36);
$yellow-dark: rgb(162, 92, 12);

$green: #2ac533;
// $green-border: ;

$grey-light: #fdfafa;

$taskbar: #191f28;
$taskbar-highlight: #474c52;
$taskbar-menu: #3b4452;
$taskbar-menu-highlight: #4e5663;

$white: #eeeff0;
