* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#startMenu {
  width: 40px;
}
#startMenu:hover {
  background-color: gray;
}

.screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.desktop {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffd7d5;
}
.desktop__main {
  background-color: pink;
  display: flex;
  height: 100%;
}
.desktop__main--r > .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop__main--r > .icon > img {
  width: 60px;
}
.desktop__taskbar {
  color: white;
  background-color: rgb(162, 158, 158);
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px 20px;
}
.desktop__taskbar--r > .time-date {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop__taskbar--r > .time-date > .time__container {
  display: flex;
}
.desktop__taskbar--r > .time-date > .date__container {
  display: flex;
}

.start-menu {
  background-color: black;
  height: 50%;
  width: 200px;
  bottom: 85px;
  border: 1px solid blue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  display: block;
}
.start-menu__container {
  display: flex;
  align-content: flex-end;
  border: 1px solid greenyellow;
}
.start-menu__container--left {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  border: 1px solid yellow;
}
.start-menu__container--left > .start-icon {
  width: 25px;
  padding: 10px;
}
.start-menu__container--left > .start-icon:hover {
  background-color: gray;
}

.window {
  min-width: 500px;
  min-height: 352px;
  max-height: 100%;
  max-width: 100%;
  border: 1px solid;
  position: fixed;
  top: 40%;
  left: 50%;
}
.window__menu {
  background-color: #fdfafa;
}
.window__menu__one {
  display: flex;
  justify-content: space-between;
}
.window__menu__one--title {
  display: flex;
}
.window__menu__one--title > img {
  width: 20px;
}
.window__menu__one--buttons {
  display: flex;
}
.window__menu__one--buttons > p {
  padding: 2px 20px;
  text-align: center;
}
.window__menu__one--buttons > p:hover {
  background-color: rgba(0, 0, 0, 0.1529411765);
}
.window__menu__one--buttons > #close:hover {
  background-color: red;
  color: #fff;
}
.window__menu__two {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1529411765);
}
.window__menu__two > p {
  padding: 4px;
}
.window__menu__two > p:hover {
  background-color: rgba(0, 0, 0, 0.1529411765);
}
.window__main {
  background-color: #fff;
  box-sizing: border-box;
  min-width: 500px;
  min-height: 300px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  resize: both;
}
.window__main > #text-area {
  border: none;
  font-family: consolas, "Courier New", monospace;
  max-width: 100%;
  max-height: 100%;
  resize: none;
  box-sizing: border-box;
}
.window__main > #text-area:focus {
  outline: none;
}

.window__menu__two--item {
  padding: 10px 30px;
}
.window__menu__two--item:hover {
  background-color: grey;
}
.window__main {
  display: flex;
}
.window__main--menu > p {
  padding: 10px;
}
.window__main--menu > p:hover {
  background-color: gray;
}
.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.content-container--item {
  height: 30px;
  padding: 10px 20px;
}
.content-container--item:hover {
  background-color: aqua;
}
