* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.desktop {
  background-color: rgb(195, 182, 207);
  color: #eeeff0;
  height: 100vh;
}
.taskbar {
  background-color: #191f28;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eeeff0;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
.taskbar__one {
  padding-left: 25px;
}
.taskbar__one:hover {
  background-color: #474c52;
}
.taskbar__one--start > img {
  width: 20px;
}
.taskbar__three {
  display: flex;
  align-items: center;
}
.taskbar__three--time-date {
  padding-right: 25px;
}
.taskbar__three--time-date > .time__container {
  display: flex;
}
.taskbar__three--time-date > .date__container {
  display: flex;
}

.three-icon {
  width: 20px;
  padding: 0px 5px;
}

.taskbar-menu {
  background-color: #3b4452;
  display: none;
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 20%;
}
.taskbar-menu__one--icon {
  padding: 20px 23px;
}
.taskbar-menu__one--icon:hover {
  background-color: #4e5663;
}
.taskbar-menu__one--icon > img {
  width: 25px;
}

.window {
  min-width: 500px;
  min-height: 352px;
  max-height: 100%;
  max-width: 100%;
  border: 1px solid;
  position: fixed;
  top: 40%;
  left: 50%;
}
.window__menu {
  background-color: #fdfafa;
}
.window__menu__one {
  display: flex;
  justify-content: space-between;
}
.window__menu__one--title {
  display: flex;
}
.window__menu__one--title > img {
  width: 20px;
}
.window__menu__one--buttons {
  display: flex;
}
.window__menu__one--buttons > p {
  padding: 2px 20px;
  text-align: center;
}
.window__menu__one--buttons > p:hover {
  background-color: rgba(0, 0, 0, 0.1529411765);
}
.window__menu__one--buttons > #close:hover {
  background-color: red;
  color: #fff;
}
.window__menu__two {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1529411765);
}
.window__menu__two > p {
  padding: 4px;
}
.window__menu__two > p:hover {
  background-color: rgba(0, 0, 0, 0.1529411765);
}
.window__main {
  background-color: #fff;
  box-sizing: border-box;
  min-width: 500px;
  min-height: 300px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  resize: both;
}
.window__main > #text-area {
  border: none;
  font-family: consolas, "Courier New", monospace;
  max-width: 100%;
  max-height: 100%;
  resize: none;
  box-sizing: border-box;
}
.window__main > #text-area:focus {
  outline: none;
}

.window__menu__two--item {
  padding: 10px 30px;
}
.window__menu__two--item:hover {
  background-color: grey;
}
.window__main {
  display: flex;
}
.window__main--menu > p {
  padding: 10px;
}
.window__main--menu > p:hover {
  background-color: gray;
}
.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.content-container--item {
  height: 30px;
  padding: 10px 20px;
}
.content-container--item:hover {
  background-color: aqua;
}
