* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  background-color: #ffd7d5;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffe3e2;
  height: 50px;
}
.menu__left {
  display: flex;
  align-items: center;
}
.menu__left > p {
  padding: 0px 16px;
}
.menu__left > #apple {
  font-size: 24px;
}
.menu__left > #app {
  font-weight: bold;
}
.menu__right {
  display: flex;
  padding-right: 35px;
}
.menu__right > p {
  padding: 0px 16px;
}

.wallpaper {
  background-color: #ffd7d5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wallpaper__full {
  padding-left: 100px;
}
.wallpaper__full--r {
  display: flex;
  justify-content: flex-end;
}

.dock {
  background-color: #ffdad8;
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 280px;
  padding: 5px 5px 1px 5px;
  border: 0.5px solid #ba9a98;
  position: fixed;
  bottom: 0;
  margin-bottom: 7px;
}
.dock__app--img {
  width: 70px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.window {
  background-color: #fff;
  width: 700px;
  height: 500px;
  display: flex;
  border-radius: 15px;
  border: 1px solid #c8c8c8;
}

.buttons {
  display: flex;
}
.buttons > .rndbtn {
  border: 1px solid;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 5px;
}
.buttons--red {
  background-color: #fd4646;
  color: #ed3e3d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons--red > p {
  padding-bottom: 3px;
}
.buttons--yellow {
  background-color: #feb024;
  border-color: rgb(237, 162, 36);
  color: rgb(237, 162, 36);
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons--yellow > p {
  padding-bottom: 3px;
}
.buttons--green {
  background-color: #2ac533;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons--green > p {
  padding-bottom: 3px;
}

.menu {
  background-color: #fdfafa;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.window {
  display: flex;
  flex-direction: column;
  width: 500px;
}
